<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{MM.dd hh:mm:ss aa} %p - %C{1}.%M(%L) || %m%n" />
		</layout>
	</appender>
	
	<appender name="dailyRollingFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./logs/daily/search.log"/>
		<param name="DatePattern" value=".yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="%d %p [%c] - &lt;%m&gt;%n" />
	    </layout>   
	</appender>

	<logger name="com.tistory.devyongsik.analyzer" additivity="false">
		<level value="warn" />
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="com.tistory.devyongsik.admin" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="com.tistory.devyongsik.logger" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="dailyRollingFile" />
	</logger>
	
	<logger name="com.tistory.devyongsik.config" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="com.tistory.devyongsik.highlight" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="com.tistory.devyongsik.query" additivity="false">
		<level value="info" />
		<appender-ref ref="CONSOLE"/>
	</logger>

	<logger name="org.apache.lucene.analysis.kr" additivity="false">
		<level value="warn" />
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="com.tistory.devyongsik" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE"/>
	</logger>
	
	<logger name="com.tistory.devyongsik.admin.IndexFileManageServiceImpl" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE"/>
	</logger>

	 <root>
	  	<level value="warn"/>
	  	<appender-ref ref="CONSOLE"/>
	 </root>
</log4j:configuration>
